{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_virtuallab/manage_batches

    List of Virtual Lab batches for the admin management page.

    Example context (json):
    {
        "batches": [
            {
                "id": 1,
                "name": "Interface Design 2026/1",
                "teachername": "Jean Lúcio",
                "categoryname": "Distance learning courses",
                "labcount": 5,
                "manageurl": "/local/virtuallab/manage.php?batchid=1",
                "deleteurl": "/local/virtuallab/manage.php?action=deletebatch&targetbatchid=1",
                "deletelabel": "Delete batch: Interface Design 2026/1"
            }
        ],
        "hasbatches": true,
        "cancreate": true,
        "createurl": "/local/virtuallab/manage.php?action=createbatch"
    }
}}
<div class="local-virtuallab-manage-batches">
    {{#hasbatches}}
    <div class="mb-3 d-flex justify-content-end">
        {{#cancreate}}
        <a href="{{createurl}}" class="btn btn-primary">
            <i class="fa fa-plus me-1" aria-hidden="true"></i>
            {{#str}} create_batch, local_virtuallab {{/str}}
        </a>
        {{/cancreate}}
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">{{#str}} batch_name, local_virtuallab {{/str}}</th>
                    <th scope="col">{{#str}} batch_teacher, local_virtuallab {{/str}}</th>
                    <th scope="col">{{#str}} batch_category, local_virtuallab {{/str}}</th>
                    <th scope="col">{{#str}} column_labs, local_virtuallab {{/str}}</th>
                    <th scope="col" aria-label="{{#str}} actions, core {{/str}}"></th>
                </tr>
            </thead>
            <tbody>
                {{#batches}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{teachername}}</td>
                    <td>{{categoryname}}</td>
                    <td>{{labcount}}</td>
                    <td class="text-end text-nowrap">
                        <a href="{{manageurl}}" class="btn btn-sm btn-outline-secondary me-1">
                            {{#str}} manage_labs, local_virtuallab, {{name}} {{/str}}
                        </a>
                        <a href="{{reporturl}}"
                           class="btn btn-sm btn-outline-info me-1"
                           title="{{reportlabel}}">
                            <i class="fa fa-bar-chart me-1" aria-hidden="true"></i>
                            {{#str}} report, local_virtuallab {{/str}}
                        </a>
                        <a href="{{deleteurl}}"
                           class="btn btn-sm btn-outline-danger"
                           aria-label="{{deletelabel}}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            {{#str}} delete_batch, local_virtuallab {{/str}}
                        </a>
                    </td>
                </tr>
                {{/batches}}
            </tbody>
        </table>
    </div>
    {{/hasbatches}}
    {{^hasbatches}}
    <div class="text-center py-5">
        <p class="text-body-secondary mb-3">{{#str}} nobatches, local_virtuallab {{/str}}</p>
        {{#cancreate}}
        <a href="{{createurl}}" class="btn btn-primary">
            <i class="fa fa-plus me-1" aria-hidden="true"></i>
            {{#str}} create_batch, local_virtuallab {{/str}}
        </a>
        {{/cancreate}}
    </div>
    {{/hasbatches}}
</div>
